#sign_up {
	-moz-border-radius: 6px;
	background:#fcfcfc;
	-webkit-border-radius: 6px;
	border: 1px solid #536376;
	-webkit-box-shadow: rgba(0, 0, 0, .6) 0px 2px 12px;
	-moz-box-shadow: rgba(0, 0, 0, .6) 0px 2px 12px;;
	padding: 14px 22px;
	width: 400px;
	position: relative;
	display: none;
}

#sign_up #sign_up_form {
	margin-top: 13px;
}

#sign_up label {
	display: block;
	margin-bottom: 10px;
	color: #536376;
	font-size: 0.95em;
}

#sign_up label input {
	display: block;
	width: 393px;
	height: 25px;
	background-position: -201px 0;
	padding: 2px 8px;
	font-size: 0.9em;
	line-height: 31px;
}



#see_id {
	font-size: 1.2em;
	width: 228px;
	height: 23px;
	color: rgb(139, 139, 139);
	background-position: -202px -133px;
}

#left_out {
	background-position: -202px -158px;
	width: 113px;
	height: 16px;
}

#sign_up_form {
	position: relative;
	background: url(divider.png) repeat-x bottom left;
	padding-bottom: 54px;
	margin-bottom: 12px;
}

#actions {
	float: left;
	position: absolute;
	right: 0;
	height: 31px;
	bottom: 20px;
}
a.form_ref {
    color: rgb(139, 139, 139); /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчеркивание у ссылок */  
	font-size: 1em;
}
a.form_button {
	float: left;
	margin-right: 15px;
	padding: 7px;
	border: 1px solid #D9D9D9;
	border-bottom: 1px solid #B9B9B9;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #F5F5F5;
	color: rgb(139, 139, 139);
	font-size: 1em;
	font-weight: bold;
}



input[type="submit1"] {
	float: left;
	
	padding: 7px;
	border: 1px solid #D9D9D9;
	border-bottom: 1px solid #B9B9B9;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:#fcfcfc;
	color: #D54F30;
	font-size: 1em;
	font-weight: bold;
}

#cancel {
	background-position: -198px -36px;
}

#log_in {
	background-position: -291px -36px;
}

#cancel:hover {
	background-position: -198px -67px;
}

#cancel:active {
	background-position: -198px -98px;
}

#log_in:hover {
	background-position: -291px -67px;
}

#log_in:active {
	background-position: -291px -98px;
}

#close_x {
	width: 24px;
	height: 23px;
	overflow: hidden;
	line-height: 1000px;
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	background-position: -387px -102px;
}

#usage {
	background-position: -323px -172px;
	width: 67px;
	height: 22px;
}