
<%-- Header (navigate bar) --%>
<%@ taglib prefix="cust" tagdir="/WEB-INF/tags" %>

<%@ include file="/WEB-INF/jspf/directive/page.jspf"%>
<%@ include file="/WEB-INF/jspf/directive/taglib.jspf"%>
<!---start-header---->
<div class="header">
	<div class="wrap">
		<!---start-logo---->
		<div class="logo">
			<a href="index.jsp"><img src="${app}/web/images/logo.png" title="logo" /></a>
		</div>
		<!---end-logo---->
		<!---start-search---->
		<div class="top-search-bar">
			<cust:login/>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>
<div class="header-nav">
					<div class="wrap">
					<cust:userPanel/>
					
					<div class="right-social-icons">
						<div class="left-nav2">
							<ul>							
								<input type="text" name="keyword" id="keyword">
								<li><a  href="#">Search</a></li>
							</ul>
						</div>
					</div>
					<div class="clear"> </div>
				</div>
				<!---start-search---->
			</div>

